---
import { Image } from 'astro:assets';
import type { LocalImageProps, RemoteImageProps } from 'astro:assets';

type Props = LocalImageProps | RemoteImageProps;

const { quality = 100, ...props } = Astro.props;

const width = props.width;
const height = props.height;
---

<div class="glow-image">
  <Image {...props} quality={quality} />
  <Image
    width={width ? ((typeof width === 'number' ? width : Number.parseInt(width)) / 4) : undefined} 
    height={height ? ((typeof height === 'number' ? height : Number.parseInt(height)) / 4) : undefined}
    {...props}
    class='glow'
    class:list={[props.class]}
    quality={75}
  />
</div>
<style>
  .glow-image {
    position: relative;
    width: 100%;
    display: block;
  }

  .glow-image img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    display: block;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
  }

  .glow {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 0 !important;
    filter: blur(8px);
    width: 100% !important;
    height: auto !important;
  }
</style>